<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Employee List</title>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 80px;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn {
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <section>
        <div class="container mt-5">
            <div class="card p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>Employee List</h2>
                    <a th:href="@{/add_employee}" class="btn btn-success">+ Add Employee</a>
                </div>

                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone_no</th>
                            <th>Department</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="employee : ${employees}">
                            <td th:text="${employee.id}"></td>
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.email}"></td>
                            <td th:text="${employee.phone_no}"></td>
                            <td th:text="${employee.department}"></td>
                            <td>
                                <a th:href="@{/edit_employee(id=${employee.id})}"
                                    class="btn btn-primary btn-sm">Edit</a>
                                <a th:href="@{/deleteemp(id = ${employee.id})}" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to delete this employee?');">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>