<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Lawyer-Client Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/register.css}">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand a1" th:href="@{/}"><i class="fa-solid fa-scale-balanced i1"></i>
                <span class="nt1"> LawBridge </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{login}">Login</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{register}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Register Form -->
    <div class="register-container">
        <h3 class="text-center mb-4">Create an Account</h3>
        <form th:action="@{/register}" method="post" th:object="${legalDTO}">
            <div class="mb-3">
                <label for="role" class="form-label">Register as</label>
                <select id="role" class="form-select" th:field="*{role}" required>
                    <option value="" >Choose role</option>
                    <option value="ROLE_LAWYER">Lawyer</option>
                    <option value="ROLE_CLIENT">Client</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="fullname" class="form-label">Full Name</label>
                <input type="text" id="fullname" class="form-control" th:field="*{full_name}" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" th:field="*{email}" id="email" class="form-control" required />
            </div>
         
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" th:field="*{password}" id="password" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password"  id="confirm-password" class="form-control" required />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
        <p class="text-center mt-3">Already have an account? <a th:href="@{/login}">Login here</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>